<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间要和mapper类一致 -->
<mapper namespace="com.dao.HomeWorkAccountMapper">
	<insert id="insertAccount" parameterType="com.pojo.HomeWorkAccount">
		INSERT INTO homeworkaccount(studentId,workUrl,created,updated,taskId)
		VALUES(#{studentId},#{workUrl},#{created},#{updated},#{taskId})
	</insert>

	<select id="selectAccountByTaskId" parameterType="java.lang.Integer" resultType="com.pojo.HomeWorkAccount">
		SELECT * FROM homeworkaccount
		WHERE taskId=#{taskId}
	</select>

	<select id="getAccountByTaskIdAndStudentId" resultType="com.pojo.HomeWorkAccount">
		SELECT * FROM homeworkaccount
		WHERE taskId=#{taskId} AND studentId=#{studentId}
	</select>

</mapper>